 body {
    background-color: linen;

}
  
.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}
/** JSPLUMB ARTEFACTS **/
.jtk-overlay {
    z-index: 1;
}

.jtk-endpoint {
    z-index: 1;
    cursor: move;
}

.jtk-connector {
    z-index: 1;
}

/** ELEMENTS **/
.littledot
{
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-image: url(littledot.png);
    position: absolute;
    border-radius: 31px;
}



.littledot-hover-hover {
    border: 2px solid orange;
}

.dropHover {
    border: 1px solid orange;
}

/** ELEMENT POSITIONS **/
#ld1 {
    top:170px;
    left:85px;
}

#ld2 {
    top:260px;
    left:86px;
}


#ld3 {
    top: 259px;
    left:436px;
}


#ld4 {
    top:259px;
    left:478px;
}


#ld5 {
    top:504px;
    left: 314px;
}


#ld6 {
    top:430px;
    left: 600px;
}


#ld7 {
    top: 530px;
    left:600px;
}


path, .jtk-endpoint {
    cursor: pointer;
}
